.mb-0 a {
  font-size: 15px;
}

.card-block ul {
  font-size: 10px;
  /*margin-left: -25px;*/
  list-style-type: circle;
}

.scrollable-detail {
  overflow-y: scroll;
  height: 750px; /* May need to be set somehow */
}
