<div class="container-fluid"><!-- To get it to take up the whole width -->

      <div class="row main-content">
        <div class="col-sm-3 offset-sm-2 col-md-3 offset-md-2">
            <!-- <p class="text-center"><i>Kindergarten Math Standards</i></p> -->
            <div class="scrollable-master">
              <div id="accordion" role="tablist" aria-multiselectable="true">

                <div *ngFor="let k of domainKeys; let i = index;" class="card">
                    <div class="card-header" role="tab" id="heading{{ i + 1 }}">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ i + 1 }}">
                          {{ k }}
                        </a>
                      </h5>
                    </div>
                    <div id="collapse{{ i +  1 }}" class="collapse">
                      <div class="card-block">
                        <ul style="font-size: 10px">

                          <div *ngFor="let s of domainsAndStandards[k]">
                            <li>
                              <a (click)="filterQuestions(s)"> {{ s | standardCleaner }} </a>
                            </li>

                          </div>

                        </ul>
                      </div>
                    </div>
                </div>

                <div>
                  <h5>
                    <a style="color: red; font-size: 10px;" (click)="filterQuestions('')">
                        Reset
                    </a>
                  </h5>
                </div>

              </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-7 scrollable-detail">
          <ul class="list-group">
              <li *ngFor="let question of filteredQuestions" class="list-group-item">
                <a (click)="loadQuestionDetail()" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <p style="font-size:10px;" class="mb-1">{{question.standard}}</p>
                  </div>
                  <p class="mb-1"><strong>Domain:</strong> {{question.domain}}</p>
                  <p class="mb-1"><strong>Genre:</strong> {{question.genre}}</p>
                  <p class="mb-1"><strong>Grades:</strong> {{question.grades}}</p>
                  <p class="mb-1"><strong>Domain:</strong> {{question.domain}}</p>
                  <p class="mb-1"><strong>States:</strong> {{question.states}}</p>
                </a>

              </li>
          </ul>
        </div>
      </div>
</div>
