

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Common Wealth Interactive Learning</h1>
    <p class="lead text-muted">A platform that teaches kindergartners math concepts</p>
    <p>
      <a [routerLink]="['/login']"class="btn btn-primary">Sign In</a>

      <a [routerLink]="['/register']"class="btn btn-secondary">Sign Up</a>
    </p>
  </div>
</section>

<div>
    <h4 class="text-center">Simple</h4>
    <p class="text-center">Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4 class="text-center">Easy For Teachers</h4>
    <p class="text-center">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4 class="text-center">Easy For Students</h4>
    <p class="text-center">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
</div>
