<!-- <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 col-xl-12 offset-xl-3 pt-3"> -->
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2">

  <div class="container">
    <h1>Dashboard</h1>

    <section class="row text-center placeholders">
      <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Class 1</h4>
        <div class="text-muted">Math</div>
      </div>
      <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Class 2</h4>
        <span class="text-muted">Geometry</span>
      </div>
      <div class="col-6 col-sm-3">
        <br>
        <h6><a><i class="fa fa-plus" aria-hidden="true"></i> Add Class</a></h6>
      </div>
    </section>

    <h2>Students</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Grade</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123231</td>
            <td>Stephanie Correa</td>
            <td>97%</td>

          </tr>
          <tr>
            <td>42345</td>
            <td>Tadeo Mattheus</td>
            <td>94%</td>

          </tr>
          <tr>
            <td>578492</td>
            <td>Henrietta Sanchez</td>
            <td>97%</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
