<!-- <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 col-xl-12 offset-xl-3 pt-3"> -->
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2">

  <div class="container">
      <div class="row m-y-2">
          <div class="col-lg-8 push-lg-4">
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                      <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Activity</a>
                  </li>
                  <li class="nav-item">
                      <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                  </li>
              </ul>
              <div class="tab-content p-b-3">
                  <div class="tab-pane active" id="profile">
                      <br>
                      <div class="row">
                          <div class="col-md-6">
                              <h6>Name</h6>
                              <p>
                                Stephanie Correa
                              </p>
                              <h6>Interests</h6>
                              <p>
                                  Indie music, skiing, hiking, outdoors.
                              </p>
                          </div>
                          <div class="col-md-6">
                              <h6>Overall Grade</h6>
                              <span class="text-center">95%</span>

                          </div>
                          <div class="col-md-12">
                              <h4 class="m-t-2"><span class="fa fa-clock-o ion-clock pull-xs-right"></span> Recent Activity</h4>
                              <table class="table table-hover table-striped">
                                  <tbody>
                                      <tr>
                                          <td>
                                              <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                          </td>

                                      </tr>
                                      <tr>
                                          <td>
                                              <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                          </td>

                                      </tr>
                                      <tr>
                                          <td>
                                              <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      <!--/row-->
                  </div>
                  <div class="tab-pane" id="messages">
                      <br>
                      <table class="table table-hover table-striped">
                          <tbody>
                              <tr>
                                  <td>
                                     <span class="pull-xs-right font-weight-bold">3 hrs ago</span> Complete Geometry Training
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                     <span class="pull-xs-right font-weight-bold">Yesterday</span> Updated Account Profile
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                     <span class="pull-xs-right font-weight-bold">9/10</span> Complete Arithmetic Assessment - (85%)
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="tab-pane" id="edit">
                      <br>
                      <h4 class="m-y-2">Edit Grades</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 pull-lg-8 text-xs-center">
              <img src="//placehold.it/150" class="m-x-auto img-fluid img-circle" alt="avatar">
          </div>
      </div>
  </div>
  <hr>
</main>
