<div class="container-fluid"><!-- To get it to take up the whole width -->

      <div class="row main-content">
        <div class="col-sm-3 offset-sm-2 col-md-3 offset-md-2">

          <div class="container well">
            <h3>Cart</h3>


            <div id="shopping-cart">
              <ul>
                <li *ngFor='let s of shoppingCart; let i = index; '>
                  {{ s.domain }}
                  <br/>
                  {{ s.standard | standardCleaner }}
                  <br/>
                  [ {{ i }} ]
                </li>
              </ul>

            </div>

          </div>

        </div>
        <div class="col-sm-7 col-md-7">

          <todo-list></todo-list>
          
          <div>
              <div class="text-center">
                  <button (click)="buildTest()" type="button" class="btn btn-success">Build Test</button>
              </div>
          </div>


        </div>
      </div>
</div>
